@import "../../App.scss";

.search-order {
    max-width: 1300px;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search__container {
        width: 100%;
            
        .search__input { 
            border-radius: 18px;
            background-color: var(--white);
            outline: none;
            width: 60%;
            border: 0;
            padding: 10px 20px;
            border: 1px solid var(--red);
        }
    
        svg {
            margin-left: -2rem;
            cursor: pointer;
            color: var(--red);
        }
    
        .search__clear {
            border: 1px solid var(--red);
            margin-left: 1.5rem;
            padding: 10px 8px;
            border-radius: 20px;
            background-color: transparent;
            color: var(--red);
        
            &:hover{
                background-color: var(--red);
                color: white;
            }
        }
    
        @media (max-width: 768px) {
            margin: 0 auto;
            text-align: center;
            flex-direction: column;
            margin-bottom: 2rem;
        }
    }

    .order__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;

        span {
            color: var(--dark-gray);
        }

        select {
            margin-left: 1rem;
            padding: 10px 8px;
            border-radius: 20px;
            outline: none;
            color: var(--font);
            border: 0.5px solid var(--red);
            background-color: var(--white);
        }

        @media (max-width: 768px) {
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
        }
    }
}